<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4cda3421-3a3e-409c-b393-ac73192b6703" Alias="Cooking Instructions - Multiple Text String" Level="1">
  <Info>
    <Name>Cooking Instructions - Multiple Text String</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultipleTextString</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "max": 0,
  "min": 1
}]]></Config>
</DataType>