<?xml version="1.0" encoding="utf-8"?>
<DataType Key="32ff3ed3-9a8d-475b-adbb-2696e8b049a8" Alias="Ingredient Picker" Level="1">
  <Info>
    <Name>Ingredient Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "filter": "10f38042-923f-4c19-95c6-a68b2e550512",
  "maxNumber": 0,
  "minNumber": 1,
  "startNode": {
    "type": "content",
    "id": "2f3a22a4-811f-42f0-9f71-41cd0b59ebba",
    "dynamicRoot": {
      "originKey": "2f3a22a4-811f-42f0-9f71-41cd0b59ebba",
      "originAlias": "ByKey"
    }
  }
}]]></Config>
</DataType>