<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4f01a6c1-5d28-4628-9f5c-f4e72d746459" Alias="recipeListing" Level="1">
  <Info>
    <Name>Recipe Listing</Name>
    <Icon>icon-food color-text</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="063f5acc-8158-4ce2-8877-a92a655930e0" SortOrder="0">recipe</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>