<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9bb0b7b0-41be-450a-b5a6-b46f5ee91437" Alias="utensilListing" Level="1">
  <Info>
    <Name>Utensil Listing</Name>
    <Icon>icon-wine-glass</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="cf520e1f-02f1-48c8-ac9e-caf604433d3e" SortOrder="0">utensil</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>